@import "tailwindcss";

:root {
  --background: #F1F5F9;
  --background2: #d3d4d6;
  --background3: #bdbdbd;
  --foreground: #020617;
  --foreground2: #474747;
  --foreground3: #767676;
  --clr-primary: #0EA5E9;
  --gradient: linear-gradient(45deg, #8400ff, #f700ff, #ff00ea);
  --gradient2: linear-gradient(45deg, #00ddff, #ff00ea);
  --clr-accent: #8400ff;
  --clr-accent2: #ff00ea;
  --clr-accent-opacity: #4f00994d;
  --clr-surface: #111827;
  --clr-surface2: #070a11;
  --clr-surface-light: #18202c;
  --clr-surface-light2: #1f2937;
  --clr-background-opacity: #f1f5f912;
  --clr-background-opacity2: #f1f5f94a;
  --clr-foreground-opacity: #00000012;
  --clr-foreground-opacity2: #00000052;
  --clr-primary-opacity: #0080ff36;
  --clr-border-opacity: #f1f5f91d;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #F1F5F9;
  }
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--clr-accent);
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
}

.terminal {
  background: var(--clr-surface2);
  color: var(--foreground);
  font-family: var(--font-terminal);
  border-radius: 0.5rem;
  position: relative;
}

.terminal::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: var(--gradient);
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
  filter: blur(50px);
  animation: bg_anim 5s ease infinite;
}

.transition {
  transition: .3s ease;
}

.shine {
  overflow: hidden;
}

.shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.663) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  animation: shine 3s ease 0s infinite;
}

@keyframes shine {
  from {
    left: -75%;
  }

  to {
    left: 125%;
  }
}

.blinker {
  width: 8px;
  height: 16px;
  animation: blink 1s ease 0s infinite;
  background-color: var(--clr-primary);

}

.blink {
  animation: blink 2s ease 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.pulse {
  position: relative;
  overflow: visible;
}

.pulse::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  opacity: 1;
  border-radius: inherit;
  animation: pulse_anim 1.5s ease .5s infinite;
  box-shadow: 0 0 10px currentColor;
}

@keyframes pulse_anim {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.underline_anim {
  position: relative;
  overflow: hidden;

}

.underline_anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-accent);
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.underline_anim:hover::after {
  transform: translateX(0);
}

.fade_in {
  animation: fade_in 0.3s ease 0s forwards;
  opacity: 0;

}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

.fade_out {
  animation: fade_out 0.3s ease 0s forwards;
  opacity: 1;

}

@keyframes fade_out {
  to {
    opacity: 0;
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.text_anim2,
.text_anim {
  background-size: 200% 200%;
  animation: bg_anim 5s ease infinite;
  background-clip: text;
  color: transparent;
}

.text_anim {
  background-image: var(--gradient);
}

.text_anim2 {
  background-image: var(--gradient2);
}

.bg_anim2,
.bg_anim {
  background-size: 200% 200%;
  animation: bg_anim 5s ease infinite;
}

.bg_anim {
  background-image: var(--gradient);
}

.bg_anim2 {
  background-image: var(--gradient2);
}

@keyframes bg_anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.float_anim {
  animation: float_anim 3s ease infinite;
}

@keyframes float_anim {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.text_shine {
  background: linear-gradient(to right, #99a1af59 0%, white 50%, #99a1af59 100%);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: text_shine_anim 15s linear infinite;
}

@keyframes text_shine_anim {
  0% {
    background-position: 200% center;
  }

  100% {
    background-position: -200% center;
  }
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;

  }
}

.bg-light {
  background-color: var(--clr-surface-light);
}

.bg-light2 {
  background-color: var(--clr-surface-light2);
}

.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -0.5px;
  top: -0.5px;
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: 200% 200% !important;
  background: var(--gradient);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  animation: bg_anim 5s ease infinite;
}

.plan_btn {
  font-weight: 900;
  background-color: var(--clr-surface-light);
  border: 2px solid var(--clr-surface-light2);
}


.plan_btn:hover {
  background-color: var(--clr-surface-light2);
}