@import "tailwindcss";

:root {
  --background: #F1F5F9;
  --foreground: #020617;
  --clr-primary: #0EA5E9;
  --clr-secondary: #06B6D4;
  --clr-accent: #A855F7;
  --clr-surface: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #F1F5F9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
}

.transition {
  transition: .3s ease;
}