@import "tailwindcss";

:root {
  --background: #F1F5F9;
  --background2: #d3d4d6;
  --background3: #bdbdbd;
  --foreground: #020617;
  --foreground2: #474747;
  --foreground3: #767676;


  --clr-primary: #0EA5E9;
  --clr-primary-opacity: rgba(14, 165, 233, 0.2);

  --gradient: linear-gradient(135deg, #0EA5E9 0%, #6366F1 100%);
  --gradient2: linear-gradient(135deg, #38BDF8 0%, #2DD4BF 100%);

  --clr-accent: #6366F1;
  --clr-accent-opacity: rgba(99, 102, 241, 0.2);

  --clr-accent2: #2DD4BF;
  --clr-accent2-opacity: rgba(45, 212, 191, 0.2);

  --clr-surface: #111827;
  --clr-surface2: #070a11;
  --clr-surface-light: #18202C;
  --clr-surface-light2: #1F2937;

  --clr-border-opacity: rgba(241, 245, 249, 0.11);
  --clr-background-opacity: rgba(241, 245, 249, 0.07);
  --clr-background-opacity2: rgba(241, 245, 249, 0.29);
  --clr-foreground-opacity: rgba(0, 0, 0, 0.07);
  --clr-foreground-opacity2: rgba(0, 0, 0, 0.32);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #F1F5F9;
    --clr-foreground-opacity: #f1f5f912;
    --clr-foreground-opacity2: #f1f5f94a;
    --clr-background-opacity: #00000012;
    --clr-background-opacity2: #00000052;
  }
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--clr-accent);
  color: white;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
}

.terminal {
  background: var(--clr-surface2);
  color: var(--foreground);
  font-family: var(--font-terminal);
  border-radius: 0.5rem;
  position: relative;
}

.code-font {
  font-family: var(--font-terminal) !important;
}

.terminal::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: var(--gradient);
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
  filter: blur(50px);
  animation: bg_anim 5s ease infinite;
}

.transition {
  transition: .3s ease;
}

.shine {
  overflow: hidden;
}

.shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.663) 50%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-25deg);
  animation: shine 3s ease 0s infinite;
}

@keyframes shine {
  from {
    left: -75%;
  }

  to {
    left: 125%;
  }
}

.blinker {
  width: 8px;
  height: 16px;
  animation: blink 1s ease 0s infinite;
  background-color: var(--clr-primary);

}

.blink {
  animation: blink 2s ease 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.pulse {
  position: relative;
  overflow: visible;
}

.pulse::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  opacity: 1;
  border-radius: inherit;
  animation: pulse_anim 1.5s ease .5s infinite;
  box-shadow: 0 0 10px currentColor;
}

@keyframes pulse_anim {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.underline_anim {
  position: relative;
  overflow: hidden;

}

.underline_anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-accent);
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.underline_anim:hover::after {
  transform: translateX(0);
}

.fade_in {
  animation: fade_in 0.3s ease 0s forwards;
  opacity: 0;

}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

.fade_out {
  animation: fade_out 0.3s ease 0s forwards;
  opacity: 1;

}

@keyframes fade_out {
  to {
    opacity: 0;
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.text_anim2,
.text_anim {
  background-size: 200% 200%;
  animation: bg_anim 5s ease infinite;
  background-clip: text;
  color: transparent;
}

.text_anim {
  background-image: var(--gradient);
}

.text_anim2 {
  background-image: var(--gradient2);
}

.bg_anim2,
.bg_anim {
  background-size: 200% 200%;
  animation: bg_anim 5s ease infinite;
}

.bg_anim {
  background-image: var(--gradient);
}

.bg_anim2 {
  background-image: var(--gradient2);
}

@keyframes bg_anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.float_anim {
  animation: float_anim 3s ease infinite;
}

@keyframes float_anim {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.text_shine {
  background: linear-gradient(to right, #99a1af59 0%, white 50%, #99a1af59 100%);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: text_shine_anim 15s linear infinite;
}

@keyframes text_shine_anim {
  0% {
    background-position: 200% center;
  }

  100% {
    background-position: -200% center;
  }
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;

  }
}

.bg-light {
  background-color: var(--clr-surface-light);
}

.bg-light2 {
  background-color: var(--clr-surface-light2);
}

.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -0.25px;
  top: -0.25px;
  padding: 1.5px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: 200% 200% !important;
  background: var(--gradient);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  animation: bg_anim 5s ease infinite;
}

.plan_btn {
  font-weight: 900;
  background-color: var(--clr-surface-light);
  border: 2px solid var(--clr-surface-light2);
}


.plan_btn:hover {
  background-color: var(--clr-surface-light2);
}

.deploy {
  background: var(--color-foreground);
  color: var(--color-background);
}

.deploy:hover {
  box-shadow: 0 0 10px 0 var(--color-foreground);
}

/* .shadow_anim:hover {
  box-shadow: 0 0 0 0 transparent;
}

.shadow_anim:hover {
  animation: shadow_anim 3s ease infinite;
  box-shadow: 0 0 10px 0 var(--clr-accent);
}

@keyframes shadow_anim {
  50% {
    box-shadow: 0 0 10px 0 var(--clr-accent2);
  }
} */


.shadow_anim {
  position: relative;
  overflow: visible;
}

.shadow_anim::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
  filter: blur(0);
  background-size: 200% 200%;
  animation: bg_anim 5s ease infinite;
  background-image: var(--gradient);
  transition: .3s ease;
  opacity: 1;
}

.shadow_anim:hover::before {
  filter: blur(15px);
  opacity: 0.5;
}

.loading {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: transparent !important;
}

.loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  transform: skewX(15deg) translateX(-300%);
  background-color: white;
  filter: blur(45px);
  animation: loading 1s ease 0s infinite;
}

@keyframes loading {
  from {
    transform: skewX(15deg) translateX(-300%);
    left: 0;
  }

  to {
    transform: skewX(15deg) translateX(200%);
    left: 100%;
  }
}

.loading2 {
  opacity: 1;
  animation: loading2 3s ease 0s infinite;
}

@keyframes loading2 {
  50% {
    opacity: 0.5;

  }
}